body {
    font-family: 'Nunito', sans-serif;

}

#Mybody {
    position: relative;
    background-color: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-header {
    background-color: white;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05)
}

header .container {
    padding-left: 0px;
    padding-right: 0px;
}

header .active .nav-link {
    color: #dc4f72 !important;

}

.navbar-brand span {
    color: #dc4f72;
    font-size: 30px;
    font-weight: 500;

}
header .navbar-toggler{
    background-color: #dc4f72;
}
.navbar-dark .navbar-toggler{
    color: white;
}

header .nav-item {
    position: relative;
    margin-left: 20px;
}

header .navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.dark header .navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 17px;
  font-weight: 400;
}

header .nav-item::before {
    content: "";
    width: 0%;
    height: 3px;
    background: #dc4f72;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

header .nav-item:hover::before {
    width: 30%;
}

header .nav-item .nav-link:hover {
    color: #dc4f72 !important;
}

header .nav-item .nav-link i {
    color: black;
}

/* SEARCH */
header .search-right {

    display: inline-grid;
    grid-template-columns: auto 1fr;
}

header .search-search span {
    color: #5a5a5a;
    font-size: 18px;
    opacity: 0.7;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #f7f9fc;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
}

.dark header .search-search span {
    background: black;
    border: 1px solid black;
}

header .search-search span:hover {
    color: #2c3038;
    opacity: 1;
}

header .search-right .pop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;


}

header .search-right .pop-overlay:target {
    visibility: visible;
    opacity: 1;
}

header .search-right .popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}

form .search-box {
    border: none;
}

.search-right .popup form input {
    font-size: 15px;
    line-height: 25px;
    color: #5a5a5a;
    height: 60px;
    padding: 15px;
    width: 100%;
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;

}

.search-right .popup button {
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #f5f9fc;
    font-weight: 500;
    height: 60px;
    background: #dc4f72;
    padding: 0 30px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    opacity: 0.7;
}

.popup .close {
    opacity: 1;
}

.btn-outline-primary {
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 400;
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    background-color: #dc4f72;
    border-color: #dc4f72;
}

/* DARK THEME*/
.darktheme i {
    font-size: 30px;
}

#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

.dark#Mybody {

    background: black;
}

.dark #switchButton {
    background: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark#header_theme {
    background: black;
}

.dark header {
    background-color: black;

}

.dark header .nav-item {
    color: white;

}

/*CAROUSEL*/
.carousel {
    margin-top: 90px;

}


.dark .carousel_bg {
    background: linear-gradient(to right,
            #131617,
            rgba(255, 255, 255, 0.92)),
        url(./images/banner.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 0;
}

.carousel_bg {
    background: linear-gradient(to right,
            white,
            rgba(255, 255, 255, 0.9)),
        url(./images/banner.jpg);

    position: relative;
    z-index: 1;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 0;
}
.dark .carousel_bg {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
    url(./images/banner.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 0;
}
.carousel_bg {
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.9)),
    url(./images/banner.jpg);

  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 0;
}

.carousel_list {
    align-items: center;
}

.carousel_title h2 {
    font-size: 50px;
    font-weight: 700;
}

.dark .carousel_title h2 {
  color: #eee;
}
.carousel_title p {
  color: #5a5a5a;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 450px;
}
.dark .carousel_title p {
  color: #b7b7b7;
}
/* BUSINESS*/
.business_title h4 {
  color: #dc4f72;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}
.business_title h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}
.dark .business_title h3 {
  color: #eee;
}
.ourselves__content h2 {
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.dark .business_title p {
  color: #b7b7b7;
}
.bottom_list a {
  text-decoration: none;
}

.s-block {
    background: #f7f9fc;
    border-radius: 6px;
    transition: 0.3s;
    padding: 60px 20px;
    border: 1px soil #f7f9fc;
}
.dark .s-block {
    background: #191c1d;

}

.s-block:hover {
    background: white;
    border-color: #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-10px);
}

.dark .s-block:hover {
    background: black;
    border: 1px solid #333;
}

.s-block img {
    max-width: 100%;
    height: auto;
}

.s-block h2 {
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.dark .s-block h2 {
    color: #eee;
}

.s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.dark .s-block p {
    color: #b7b7b7;
}

/* ABOUT*/
.about {
  background: #f7f9fc;
}

.dark .about {
    background: #191c1d;
}

.about .about_title h4 {
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;

}

.about .about_title h3 {
    font-size: 50px;
    font-weight: 700;
}

.dark .about .about_title h3 {
    color: #eee;
}

.about .about_title p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.dark .about .about_title p {
    color: #b7b7b7;
}

.about .about_title .btn-primary {
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.about .about_title .btn-primary:hover {
    background-color: #d62f58;
    border-color: #d62f58;

}

.about .about_title .btn {
    padding: 10px 25px;
}

.about .about_img img {
    border-radius: 6px;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
}

.about .about_img img:hover {
    transform: translateY(-10px);
}

/*NUMBER*/
.number {
    background: #f7f9fc;
}

.dark .number {
    background: #191c1d;
}

.number .number_stats {
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    transition: 0.3s;
    border: 1px solid #f8f9fa;
    padding: 40px;

}

.number .number_stats:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

.dark .number .number_stats {
    background: #131617;
    border: 1px solid #212529;
}

.number .number_stats h3 {
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #2c3038;
    font-weight: 700;
}

.dark .number .number_stats h3 {
    color: #eee;
}

.number .number_stats p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.number .number_stats span {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
}

.dark .number .number_stats span {
    color: #5a5a5a;
}

/* OURSELVER*/
.ourselves {
    padding: 2rem 0;
    min-height: 480px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)),
        url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.ourselves__content {
    max-width: 550px;
    margin-left: 0;
}

.ourselves__content h2 {
    color: white;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.ourselves__content p {
    color: #eee;
    font-size: 16px;
    line-height: 24.5px;
}

.ourselves__content .btn {
    display: inline-block;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    font-size: 14px;
    font-weight: 700;
    padding: 0 30px;
    line-height: 52px;
    transition: 0.5s;
}

.ourselves__content .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(216 217 219 / 50%);
}

/* FAQ */
.dark .faq {
  background: #131617;
}

.faq__title h3 {
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.faq__title h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.dark .faq__title h2 {
  color: #eee;

}

.faq__title p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    max-width: 750px;
    margin: 1rem auto;
}

.dark .faq__title p {
  color: #5a5a5a;

}

.faq__item {
    padding: 25px 50px 25px 20px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 6px;
    position: relative;
}

.faq__item h6 {
    margin: 0;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    color: #2c3038;
}

.dark .faq__item h6 {
  color: #eee;

}

.faq__item p {
    border: none;
    margin: 14px 0 0 0;
    font-size: 16px;
    line-height: 24.5px;
    max-height: 800px;
    color: #5a5a5a;
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.25s ease-in-out;
    overflow: hidden;
}

.faq__item i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
    cursor: pointer;
    z-index: -1;
}

.faq__item i::before,
.faq__item i::after {
    content: "";
    position: absolute;
    background-color: #2c3038;
    width: 3px;
    height: 9px;
}

.dark .faq__item i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
  cursor: pointer;
  z-index: -1;
}

.dark .faq__item i::before,
.dark .faq__item i::after {

  content: "";
  position: absolute;
  background-color: #eee;
  width: 3px;
  height: 9px;

}

.faq__item i::before {
    transform: translate(-2px, 0) rotate(-45deg);
}

.faq__item i::after {
    transform: translate(2px, 0) rotate(45deg);
}

.faq__item input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

.faq__item input:checked[type="checkbox"]~p {
    margin: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}

.faq__item input:checked[type="checkbox"]~i::before {
    transform: translate(2px, 0) rotate(-45deg);
}

.faq__item input:checked[type="checkbox"]~i::after {
    transform: translate(-2px, 0) rotate(45deg);
}

.faq__img {
    position: sticky;
    top: 80px;
}

.faq__img img {
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: 0.3s ease-in-out;
}

.faq__img img:hover {
    transform: translateY(-0.5rem);
}

/* PROJECT */
.project__title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.project__title h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}

.dark .project__title h2 {
  color: #eee;

}

.project__title p {

  color: #5a5a5a;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  max-width: 750px;
  margin: 1rem auto;
}
.dark .project__title p {
  color: #b7b7b7;
}
.project__content #project-nav {
    display: flex;
}

.project__content .nav-pills .nav-link.active {
    background-color: white;
}

.project__content #project-nav>a {
    width: calc(100% / 3);
    color: #2c3038;
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    border-bottom: 3px solid #f8f9fa;
    border-radius: 0;
    text-decoration: none;
}
.dark .project__content #project-nav>a{
    color: #eee;
}
.project__content #project-nav .project-line {
    border-bottom-color: rgb(193, 193, 193);
}

.project__content #project-nav .TitleProject {
    color: #dc4f72;
    border-bottom-color: #dc4f72;
}

.project__content .tab-content {
    margin: 20px 0;
    padding: 15px;
}

.project__content .row .btn {
    font-size: 14px;
    padding: 0 30px;
    line-height: 52px;
    transition: 0.3s ease-in-out;
}

.project__content .row .btn:hover {
    background-color: #dc4f72;
    color: white;
}

.project__content .row .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.project__content .row h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #2c3038;
}
.dark .project__content .row h3{
    color: #eee;
}

.project__content .row p {
    color: #5a5a5a;
    margin: 16px 0;
    font-size: 16px;
    line-height: 24.5px;
}
.dark .project__content .row p{
    color: #b7b7b7;
}
.project__content .row img {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.project__content .row img:hover {
    transform: translateY(-0.5rem);
}

.project__content .tab-content>.nav-link {
    display: none;
    width: 100%;
    border-bottom: 1px solid rgb(193, 193, 193);
}

@media screen and (max-width: 767.98px) {
    .project__content .tab-content {
        margin: 0;
        padding: 0;
        border: 1px solid rgb(193, 193, 193);
    }

    .project__content .tab-content .tab-pane {
        margin: 20px 0;
        padding: 15px;
    }

    .project__content .tab-content>.nav-link {
        display: block;
        border-radius: 0;
        font-size: 20px;
        color: #2c3038;
        font-weight: 600;
        padding: 10px 15px;
        text-decoration: none;
    }

    .project__content #project-nav a {
        display: none;
    }
}

.project__content .tab-content .minTitleProject {
    color: #dc4f72;
    border-bottom: 3px solid #dc4f72;
}
/* FEEDBACK */
.feedback {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.77)),
        url(./images/b2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dark .feedback {
    background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)),
        url(./images/b2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.feedback__title h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}

.dark .feedback__title h2 {
    color: #eee;
}

.feedback__title h2 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}

.feedback__title p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    max-width: 750px;
    margin: 1rem auto;
}

.dark .feedback__title p {
    color: #b7b7b7;
}

.feedback__item {
    background-color: white;
    padding: 2rem;
    border-radius: 6px;
}

.dark .feedback__item {
    background-color: #131617;
}

.feedback__item .row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}

.feedback__item .row i {
    font-size: 35px;
    color: #2c3038;
    opacity: 0.2;
}

.feedback__text {
    position: relative;
}

.feedback__text i {
    position: absolute;
    top: -5px;
    left: -25px;
}

.dark .feedback__text i {
    color: #eee;
}

.feedback__text p {
    font-size: 18px;
    line-height: 26px;
    color: #2c3038;
}

.dark .feedback__text p {
    color: #eee;
}

.feedback__text h5 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
    margin: 0;
}

.feedback__text h6 {
    font-size: 13px;
    color: #5a5a5a;
    line-height: 26px;
}

.dark .feedback__text h6 {
    color: #b7b7b7;
}

.feedback .owl-theme .owl-dots .owl-dot.active span,
.feedback .owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}

.feedback .owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    border-radius: 0;
    background: transparent;
}

.dark .feedback .owl-dots .owl-dot span {
    background: black;
}

.feedback .owl-carousel .owl-dots button:focus {
    outline: none;
}

/* COMMUNITY */
.community {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.community h3 {
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    color: #2c3038;
}

.dark .community h3 {
    color: #eee;
}

.community p {
    color: #5a5a5a;
    line-height: 22.5px;
    font-weight: 400;
}

.dark .community p {
    color: #b7b7b7;
}

.community .btn:hover {
    background-color: #dc4f72;
    color: white;
}

.community .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 79 114 / 50%);
}

.community .btn:last-of-type {
    background: #dc4f72;
    color: white;
    padding: 0 30px;
    line-height: 52px;
}

.community .btn {
    padding: 0 30px;
    line-height: 52px;
    margin: 5px;
}

/* FOOTER */
footer {
    background-color: #f7f9fc;
}

.dark footer {
    background-color: #191c1d;
}

.footer__top h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #2c3038;
}

.dark .footer__top h3 {
    color: #eee;
}

.footer__top ul {
    list-style: none;
    padding: 0;
}

.footer__top li {
    margin: 10px 0;
}

.footer__top li a {
    text-decoration: none;
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    transition: 0.5s;
}

.footer__top li a:hover {
    color: #dc4f72;
}

.footer__card {
    background-color: white;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.dark .footer__card {
    background-color: #131617;
}

.footer__card h6 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #2c3038;
}

.dark .footer__card h6 {
    color: #eee;
}

.footer__card input {
    background-color: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    font-weight: 500;
    border-radius: 6px;
    color: #2c3038;
}

.dark .footer__card input {
    background-color: #191c1d;
}

.footer__card button {
    text-align: center;
    background-color: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 12px 40px;
    border-radius: 6px;
}

.footer__card p {
    line-height: 22px;
    font-size: 16px;
    color: #5a5a5a;
    margin-top: 10px;
}

.dark .footer__card p {
    color: #b7b7b7;
}

.footer__bottom {
    border-top: 1px solid #eee;
}

.dark .footer__bottom {
    border-top: 1px solid #333;
}

.footer__bottom p {
    line-height: 22px;
    font-size: 16px;
    color: #5a5a5a;
}

.dark .footer__bottom p {
    color: #b7b7b7;
}

.footer__bottom ul {
    list-style: none;
}

.footer__bottom li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.footer__bottom a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    display: inline-block;
    font-size: 15px;
}

.dark .footer__bottom a {
    color: #eee;
}

.footer__bottom a:hover {
    color: #dc4f72;
}

@media screen and (max-width: 991.98px) {
    .footer__bottom {
        text-align: center;
    }
}

/* BACK TO TOP */
.backToTop {
    width: 50px;
    height: 45px;
    background-color: #f55f8d;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    text-decoration: none !important;
}

.backToTop:hover {
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 0.7;
}